body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(120deg,#1e3c72,#2a5298);
color:white;
}

header{
text-align:center;
padding:40px;
}

.contenedor{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
padding:40px;
}

.card{
background:white;
color:black;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,.3);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

a{
display:inline-block;
margin-top:15px;
padding:10px 25px;
background:#1e3c72;
color:white;
border-radius:25px;
text-decoration:none;
}
